@import url("https://fonts.googleapis.com/css2?family=Mystery+Quest&family=Quicksand&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  height: 100vh;
  width: 100vw;
  margin: 0;
  background: #d9c1d1;
  color: #2a1c33;
}

h1 {
  font-family: "Mystery Quest", cursive, sans-serif;
  font-size: 60px;
  text-align: center;
}

h2 {
  font-size: 60px;
  text-align: center;
}

/* Main menu styling */
.menu-bg {
  background: #2a1c33 url(../img/bg.jpg) center center / cover no-repeat;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-container {
  background: rgba(217, 193, 209, 0.9);
  height: 450px;
  width: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

#back-content {
  margin: 0 10px;
}

.back-to-menu i {
  font-size: 25px;
}

.menu-container h1 {
  margin: 0 0 50px;
  font-size: 50px;
}

.menu-container p {
  margin: 0 60px 20px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #d9c1d1;
  font-weight: 600;
}

li {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  padding-inline-start: 0;
}

.btn-menu {
  background: #2a1c33;
  width: 150px;
  height: 35px;
  margin: 20px 0;
  border-radius: 10px;
}

#main-menu {
  display: block;
}

#pause-menu .menu-container,
#game-over-menu .menu-container {
  background: transparent;
}

#pause-menu,
#game-over-menu {
  background: transparent;
  position: absolute;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

#settings-menu {
  display: none;
}

/* Game styling settings */
#game-page {
  background: #d9c1d1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

#score,
#hiscore,
#level {
  font-size: 25px;
  font-weight: 900;
  line-height: 30px;
  letter-spacing: 0.5px;
}

.score-container {
  display: flex;
  justify-content: center;
}

.container {
  display: inline-flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0 5px;
  padding: 0 5px;
}

#game-board {
  background-color: #d9c1d1;
  border: 4px solid #2a1c33;
  width: 90vmin;
  height: 90vmin;
  display: grid;
  grid-template-rows: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
}

.head-up {
  background: url(../img/snake-head-up.png) center center / cover no-repeat;
}

.head-down {
  background: url(../img/snake-head-down.png) center center / cover no-repeat;
}

.head-left {
  background: url(../img/snake-head-left.png) center center / cover no-repeat;
}

.head-right {
  background: url(../img/snake-head-right.png) center center / cover no-repeat;
}

.snake {
  background: url(../img/snake-body.png) center center / cover no-repeat;
}

.food {
  background: url(../img/apple.png) center center / cover no-repeat;
}

@media screen and (max-width: 1200px) {
  #game-page {
    background: #d9c1d1 url(../img/bg-plain-tablet.png) center center / cover
      no-repeat;
    display: block;
  }

  .info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 5px;
  }

  img {
    display: none;
  }

  h1,
  h2 {
    margin: 5px 0;
    font-size: 40px;
  }

  div {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.5px;
  }

  #game-board {
    background: transparent;
    width: 75vmin;
    height: 75vmin;
    position: absolute;
    top: 15vh;
    right: 50px;
  }
}

@media screen and (max-width: 600px) {
  #game-page {
    background: #d9c1d1 url(../img/bg-plain-mobile.png) top left / cover
      no-repeat;
  }
  .h1-container {
    width: 100%;
  }

  h1,
  h2 {
    font-size: 8vw;
    margin: 0;
  }

  div {
    font-size: 5vw;
  }

  .info-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    height: 100px;
  }

  #game-board {
    margin-top: 5px;
    top: 20vh;
    right: 30px;
  }

  .btn-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 200px;
    position: absolute;
    bottom: 2vh;
    right: 15vw;
  }

  .menu-bg {
    background: #2a1c33 url(../img/bg.jpg) top left / cover no-repeat;
  }

  .menu-container {
    height: 75vmax;
    width: 80vmin;
    object-fit: cover;
  }

  .menu-container h1,
  h2 {
    margin: 0 0 10%;
    font-size: 8vmin;
    line-height: 8vmin;
  }

  .menu-container p {
    margin: 0 10px 10%;
    font-size: 4vmin;
  }

  a {
    font-size: 4vmin;
  }

  .btn-menu {
    width: 125px;
    height: 40px;
    margin: 15% 0;
  }
}

@media screen and (max-width: 450px) {
  .info-container {
    height: 80px;
  }
  #game-board {
    top: 35vh;
    right: 5px;
  }
}

@media screen and (max-width: 350px) {
  #game-board {
    top: 20vh;
    right: 5px;
  }

  .btn-container {
    bottom: 1vh;
  }

  .menu-container {
    height: 88vmax;
    width: 80vmin;
  }

  .btn-menu {
    height: 30px;
  }

  .menu-container h1,
  h2 {
    margin: 0 0 5px;
    font-size: 8vmin;
  }

  .menu-container p {
    margin: 0 10px 5px;
    font-size: 4vmin;
  }
}
