@import url("https://fonts.googleapis.com/css2?family=Mystery+Quest&family=Quicksand&display=swap");

body {
  font-family: "Quicksand", sans-serif;
  background: #d9c1d1;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
}

h1 {
  font-family: "Mystery Quest", cursive, sans-serif;
}

.game-board-container {
  width: 90vmin;
  height: 90vmin;
}

#game-board {
  background-color: #d9c1d1;
  border: 4px solid #2a1c33;
  width: 90vmin;
  height: 90vmin;
  display: grid;
  grid-template-rows: repeat(40, 1fr);
  grid-template-columns: repeat(40, 1fr);
}

.snake {
  background: #2a1c33;
}

.food {
  background: red;
}

@media screen and (max-width: 1200px) {
  body {
    background: #d9c1d1 url(../img/bg-plain-tablet.png) center center / cover
      no-repeat;
    display: block;
    margin: 5px;
  }

  .info-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  img {
    display: none;
  }

  h1 {
    margin: 2px 0;
  }

  #game-board {
    background: transparent;
    width: 75vmin;
    height: 75vmin;
    position: absolute;
    top: 15vh;
    right: 50px;
  }
}
